.box {
  height: 100px;
  border: 1px solid #000;
  background:#fff;
}
body {
  background:#EDEDED;
}
.intro {
  margin: 50px 0 0;
}
  .intro h1 {
    text-align: center;
    margin: 0;
    font-size: 60px;
  }

.midPart p {
  text-align: center;
  color:rgba(0,0,0,0.5);
}
#line {
  border-bottom: 1px solid #333;
}
#logo {
  margin-top: 30px;
}
  #logo p {
    text-align: center;
  }
  #logo a#logoLink {
    color:#000;
    cursor: default;
  }

.firstSection {
  padding-top: 75px;
  border-bottom: 5px solid #333;
  background:#3A3F4B;
}
#avatar {
  background:#ccc;
  height: 150px;
  width: 150px;
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
  border-radius: 75px;
  margin: 0 auto;
  border:5px solid black;
}
.firstSection .text {
  margin: 25px 0 50px;
  text-align: center;
}
  .firstSection .text h1 {
    color:#fff;
  }
  .firstSection .text h2 {
    font-weight: 100;
    color:#fff;
  }
.secondSection {
  background:#818DA2;
  padding: 25px 0;
  border-bottom: 1px solid #000;
}
  .secondSection h2 {
    color:#000;
    text-align: center;
    font-weight: 100;
  }
  .secondSection p {
    font-weight: 300;
  }

.thirdSection {
  padding: 20px 0 50px;
}
  .thirdSection h1 {
    text-align: center;
    margin-bottom: 25px;
  }
.ipad {
  background:#202020;
  height: 250px;
  margin-bottom: 25px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
  .ipad .screen {
    background:#fff;
    height: 200px;
    width: 90%;
    margin: 0 auto;
    position: relative;
    top:10%;
  }


.contact {
  background:#F4333A;
}
  .contact h1 {
    color:#fff;
    font-weight: 100;
    text-align: center;
  }
  .contact form {
    margin: 0;

  }
  .contact form input[type="submit"] {
    width: 100%;
    height: 60px;
    background: #f70;
    border: 0;
    font: 400 18px/18px  "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    color: #fff;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 15px;
  }

footer {
  border-top: 5px solid #97151c;
}
  footer p {
    text-align: center;
    margin: 5px 0;
    font-weight: 300;
  }


