@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Stalemate);
@import url(http://fonts.googleapis.com/css?family=Muli);

h2 {
    font-family: 'Stalemate', serif;
    text-align: center;
    font-size: 90px;
}
h3 {
    font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, sans-serif;
}

/*===============================
        Hero Properties
===============================*/


.hero {
    height: 500px;
    background:#fefefe;
}
.hero h1 {
    font-family: 'Muli', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 100px;
    line-height: 150px;
    text-align: center;
    margin: 100px 0 0;
    color:#222;
}
.hero p {
     font-family: 'Muli', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 50px;
    text-align: center;
    margin:0;
    color:#222;
}


/*===============================
        About Properties
===============================*/
.about {
    background:url('../img/background.png');
    height: auto;
    padding: 25px 0 0;
}
.about p {
        font-family: 'Muli', 'Helvetica Neue', Helvetica, sans-serif;
        font-size: 20px;
}
.about h4 {
    font-family: 'Muli', 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: bold;
}
.box {
    width: 100%;
}
.box p {
    text-align: center;
    margin: 0;
    font-size: 1.4375rem;

}
/*===============================
        Slider Properties
=============================== */
#slider {
    position: relative;
}
.arrow {
    border-top:5px solid #666;
    border-left:5px solid #666;
    width: 50px;
    height: 50px;
    cursor:pointer;
    opacity:0.4;
} .arrow:hover {
    opacity:0.7;
}
#next-btn, #prev-btn {
    position: absolute;
    top:50%;
    z-index:2;
}
#prev-btn {
    left:10px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
#next-btn {
    right:10px;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.macbook {height: 100%;}
.macbook > img {
    margin: 0 auto;
    display: block;
}
.work {
    background:url('../img/background2.jpg');
}
.bx-wrapper .bx-viewport {
    background:0;
    border:0;
}

.clickable, .description {
    margin-top: 15px;
}
.clickable a {
    font-size: 1.4375rem;
}

#strikethru {
    border-top: 1px solid black;
    height: 25px;
    position: relative;
    margin-top: 25px;
}
#strikethru > p {
    font-family: 'Muli', 'Helvetica Neue', Helvetica, sans-serif;
    width: 150px;
    margin-left: -75px;
    text-align: center;
    position: absolute;
    top: -50%;
    left: 50%;
    background: white;
}

/*===============================
        Media Queries: Small Screens
===============================*/

@media only screen and (max-width: 40em) {
    .arrow {
        width: 25px;
        height: 25px;
    }
    #next-btn, #prev-btn {
        top:30%;
    }
    .description {
        padding: 10px;
    }
    .description h3 {
        font-size:1.6875rem;
    }
    .clickable {
        margin-top: 0;
    }
   .hero h1 {
        font-size:4rem;
    }
    .hero p {
        font-size:2rem;
    }
    .about h4 {
        font-size: 1.4375rem;
    }
}
