/*
font-family: 'Playfair Display', serif;
font-family: 'Raleway', sans-serif;
 */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dcc7aa;
  position: relative;
  z-index: 1;
  margin-bottom: 100px;
}
  header:after {
    background: inherit;
    bottom: 0;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    transform: skewY(-1.5deg);
    transform-origin: 100%;
    z-index: -1;
  }
header > * {
  max-width: 1008px;
  width: 100%;
}


.box-wrapper {
  display: flex;
  justify-content: space-around;
}
  .box {
    height: 100px;
    width: 100px;
    box-sizing: border-box;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Playfair Display', serif;
  }
    .blueberry {
      background-color: #6b7a8f;
    }
    .apricot {
      background-color: #f7882f;
    }
    .citrus {
      background-color: #f7c331;
    }
    .appleCore {
      background-color: #dcc7aa;
    }


h1 {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-size: 100px;
}

