.box {
    border: 1px solid #000;
    height: 250px;
}

.misc {
    height: 750px;
}
header {
    height: 500px;
}
header h1 {
    text-align: center;
    padding: 200px 0 ;
    margin: 0;
}
#gary {
    position: fixed;
    top: 200px;
    left: 50%;
    margin-left: -47px;
}



.headerBG-b {
    background: url(../img/workspace-b.jpg) no-repeat center -250px fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 500px;
    position: absolute;
    width: 100%;
}
.headerBG {
    background: url(../img/workspace.jpg) no-repeat center -250px fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: inherit;
}

