@import url(museo-sans/stylesheet.css);

body {
    font-family: 'museo_sans500', Helvetica, sans-serif;
}
.box {
    border: 1px solid #000;
    height: 250px;
}



/* ===============
        Header Section
 =============== */
header {
    text-align: center;
    height: 500px;
    background:url(../img/pattern.png) repeat #ccc;
}


header .name {
}
header .name  h1 {
    width: auto;
    height: 50px;
    margin-top: 250px;
    color:#fff;
}



/* ===============
        Profile Section
 =============== */
 .profile {
    background:#fff;
    height: auto;
    padding: 35px 0;
 }

 .profile #picture {
    background:#fff;
    border: 1px solid #000;
    height: 250px;
    width: 250px;
    margin: 0 auto;
    border-radius: 175px;
 }
 .profile .desc {
    margin: 25px 0;
 }
 .profile .pill {
    text-align: center;
    border: 1px solid #000;
    border-radius: 15px;
}
    .profile .pill p {
        margin:10px 0;
    }




/* ===============
        Work Section
 =============== */
 .work {}
    .work .img {
        border: 1px solid #000;
        height: 250px;
    }



/* ===============
        Contact Circles Section
 =============== */
 section.contact-circles {
    background:#000;
    padding: 50px 0 25px;
}
 .circle {
    background:url(../img/circle.png) no-repeat;
    height: 168px;
    margin: 0 auto;
 }




/* ===============
        Footer
 =============== */

 footer p {
    text-align: center;
    margin: 0;
 }