/*
Bluring the background on scroll: http://codepen.io/sallar/pen/lobfp;

 */

@import url(museo-sans/stylesheet.css);

body {
    font-family: 'museo_sans500', Helvetica, sans-serif;
}
.box {
    border: 1px solid #000;
    height: 250px;
}



/* ===============
        Header Section
 =============== */

#header {
    height: 500px;
    background:url(../img/workspace-b.jpg) no-repeat center -250px fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
    width: 100%;
}
#bg2 {
    height: inherit;
    background:url(../img/workspace.jpg) no-repeat center -250px fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.name {
    height: 500px;
}
    #firsth1 {
        margin: 0;
        color:#fff;
        padding: 0;
        position: fixed;
        left: 50%;
        top:50px;
        margin-left: -103px;
    }
    #secondh1 {
        color:#fff;
        margin: 0;
        padding: 200px 0 0;
        text-align: center;
    }


/* ===============
        Profile Section
 =============== */
 .profile {
    background:#fff;
    height: auto;
    padding: 35px 0;
 }

 .profile #picture {
    background:#fff;
    border: 1px solid #000;
    height: 250px;
    width: 250px;
    margin: 0 auto;
    border-radius: 175px;
 }
 .profile .desc {
    margin: 25px 0;
 }
 .profile .pill {
    text-align: center;
    border: 1px solid #000;
    border-radius: 15px;
}
    .profile .pill p {
        margin:10px 0;
    }




/* ===============
        Work Section
 =============== */
 .work {}
    .work .img {
        border: 1px solid #000;
        height: 250px;
    }



/* ===============
        Contact Circles Section
 =============== */
 section.contact-circles {
    background:#000;
    padding: 50px 0 25px;
}
 .circle {
    background:url(../img/circle.png) no-repeat;
    height: 168px;
    margin: 0 auto;
 }




/* ===============
        Footer
 =============== */

 footer p {
    text-align: center;
    margin: 0;
 }