/*
Green = #8BFD80
Light Green  = #98FBB9
Green BLue = #98FBD9
Blue = #98FBFB
#87CEEB


#416C12
 */
@import url(museo-sans/stylesheet.css);

body {
    font-family: 'museo_sans500', Helvetica, sans-serif;
}

.box {
    border: 1px solid #000;
    height: 250px;
}


/* ===============
        Header Section
 =============== */
header {
    background:#80B45B;
    padding: 15px 0;
    border-bottom: 5px solid #416C12;
}
header h1 {
    color:#fff;
    font-family: 'museo_sans500', Helvetica, sans-serif;
    margin: 0;
    text-align: center;
}
header h3 {
    color:rgb(79,132,24);
}
nav {
    background:#416c12;
}
nav h3 {
    color:#fff;
    text-align: center;
}

/* ==================
        General Section Properties
 =================== */

section {
    margin: 15px 0;
    overflow: auto;
}

/* ===============
        Works Section
 =============== */
.img {
    border: 1px solid #000;
    background:#ccc;
    height: 250px;
}

.works {
    margin: 10px auto 30px;
}
/* ===============
        Profile Section
 =============== */

.profile {
    background:#5E94B2;
}


.circle {
    border: 1px solid #000;
    height: 250px;
    width: 250px;
    border-radius: 175px;
    margin: 15px auto;
    background:#30576C;
}


/* ===============
        Footer Section
 =============== */

footer {
    text-align: center;

}

.fineprint {
    text-align: center;
    padding: 5px 0;
    background:rgb(92,92,92);
    border-top: 3px solid #2B2B2B;
    color:#222;
}


