body {
    margin: 0;
    padding: 0;
    background-color: #fefef6;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}


.hero {
    max-width: 1080px;
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    text-align: center;
    padding:10px 0;
    margin:50px auto 25px;
    border-bottom: 1px solid #999;
}

    .strikethrough {
        width: 100%;
        text-align: center;
        border-top:1px solid #999;
        position: relative;
    }
    .strikethrough span {
        background: #fefef6;
        font-size: 48px;
        /*font-family:'Libre Baskerville', serif;*/
        font-family: 'Satisfy', cursive;
        font-style: italic;
        line-height: 16px;
        padding: 0 10px;
        position: relative;
        top: -10px;
    }
    .hero h1 {
        font-size: 40px;
        margin: 25px 0;
        font-weight: bold;
    }
    .hero h2 {
        font-size: 36px;
    }
    .hero p:last-child {
        font-size: 24px;
        margin: 25px 0 50px;
    }

#work > .work {
    height: 500px;
    position: relative;
    overflow: hidden;
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    color: #fff;
    padding:10px 15px 0;
}
    .work > img {
        max-width: 1080px;
        width: 100%;
        position: absolute;
        bottom: -10%;
    }
    .work h3 {
        font-size: 30px;
        text-align: center;
        margin: 25px 0;
    }
    .work p {
        text-align: justify;
    }
    .work:nth-child(1) {
        background-color:#0288D1;
        /*background-color:#81D4FA;*/
    }
    /*.work:nth-child(1) > * {color:#000;}*/
    .work:nth-child(2) {
        background-color:#607D8B;
    }
    .work:nth-child(3) {
        background-color:#005B7D;
    }
