* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color:#fff;
    font-family:  -apple-system, BlinkMacSystemFont, Arial, sans-serif;
}

h1 {
    font-size:48px;
}
h2 {
    font-size: 36px;
    color: #fff7c1;
}
h3 {
    font-size: 30px;
}
p {
    margin: 24px 0;
}

.button {
    border-radius: 7px;
    padding:10px 20px;
}
    .button.yellow {
        background: #fff7c1;
        color: #d58945;
        font-size: 48px;
        font-weight: bold;
        text-transform: capitalize;
        text-decoration: none;

        margin-top: 60px;
    }
        @media (min-width: 650px) {
            .button.yellow {
                margin-top: 0;
            }
        }

.intro {
    background: #D75151;
    padding:60px 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
    @media (min-width: 650px) {
        .intro {
            padding: 60px 100px;
            flex-direction: row;
        }
    }

.description {
    background: #59aad3;
    padding: 46px 40px;
}
    @media (min-width: 650px) {
        .description {
            padding: 60px 100px;
        }
    }

    .skill-bars {
        display: grid;
        grid-template-columns: 75px 1fr;
        grid-column-gap: 15px;
    }
        .skill-bars ul {
            list-style:none;
        }
        .skill-bars li {
            margin-top: 24px;
            font-size: 20px;
            font-weight: bold;
        }

        .skill-bar li {
            background:#fff;
        }
        .skill-bars li[data-years='5'] {
            width:100%;
        }
        .skill-bars li[data-years='3'] {
            width:60%;
        }
        .skill-bars li[data-years='2'] {
            width:40%;
        }