* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background-color: #fefef6;
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

.hero {
    max-width: 1080px;
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding:10px 0;
    margin:50px auto 25px;
    border-bottom: 1px solid #999;
}

    .strikethrough {
        width: 100%;
        text-align: center;
        border-top:1px solid #999;
        position: relative;
    }
    .strikethrough span {
        background: #fefef6;
        font-size: 48px;
        font-family: 'Satisfy', cursive;
        font-style: italic;
        line-height: 16px;
        padding: 0 10px;
        position: relative;
        top: -10px;
    }
    .hero h1 {
        font-size: 40px;
        margin: 25px 0;
        font-weight: bold;
    }
    .hero h2 {
        font-size: 36px;
    }
    .hero p:last-child {
        font-size: 24px;
        margin: 25px 0 50px;
    }

.work_container:nth-child(1) {background-color:#0288D1;}
.work_container:nth-child(2) {background-color:#607D8B;}
.work_container:nth-child(3) {background-color:#005B7D;}


.work {
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
    color: #fff;
    padding:10px 25px 0;
}
    .work h3 {
        font-size: 30px;
        text-align: center;
        margin: 25px 0;
    }
    .work p {
        text-align: justify;
    }
    .work > img {
        max-width: 900px;
        width: 100%;
        display: block;
        margin: 0 auto;
    }
    .work .button_container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin:25px 0 10px;
    }
    @media only screen and (min-width: 400px) {
        .work .button_container {
            justify-content: space-around;
            flex-direction: row;
        }
    }
    .work .button {
        width: 160px;
        display: block;
        padding:10px 25px;
        border: 2px solid #fff;
        border-radius: 3px;
        color:#fff;
        text-decoration: none;
        margin-bottom: 25px;
    }
footer {
    padding: 50px 25px;
}
footer .strikethrough span {
    font-size: 30px;
}
footer p,
footer a {
    display: block;
    text-align: center;
    margin-bottom: 10px;
}
footer a {
    color:#000;
}
@media only screen and (min-width: 600px) {
    footer .strikethrough span {
        font-size: 46px;
    }

}