body {
  padding: 0;
  margin: 0;
  font-family: 'Karma', Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column; }

h1, h2, h3 {
  margin: 0; }

section {
  box-sizing: border-box; }

.sectionOne {
  display: flex;
  align-items: flex-end;
  padding: 20px;
  background-image: url("../img/us.jpeg");
  background-color: #ccc;
  background-size: cover;
  background-position: 50% 50%;
  height: 75vh; }
  .sectionOne h1 {
    font-size: 48px;
    color: #fff; }

.sectionTwo {
  max-width: 600px;
  margin: 0 auto; }
  .sectionTwo img {
    height: auto;
    width: 100%; }

@media (min-width: 769px) {
  body {
    flex-direction: row; }
  .sectionOne {
    flex: 3 0 50%;
    height: 100vh; }
  .sectionTwo {
    display: flex;
    align-items: center; } }

@media (min-width: 1200px) {
  .sectionOne {
    padding: 100px; }
    .sectionOne h1 {
      font-size: 4em;
      line-height: 1em; } }
